

.about-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.about {
    background-color: #3c4c62;
    display: flex;
}

.about-text-container {
    max-width: 1500px;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 35px;
/*    display: flex;
    flex-direction: column;*/
    justify-content: center;
    align-content: center;
}

.title {
    color: #ffd847;
    font-size: 100px;
    margin-top: 50px;
    font-family: 'Tw Cen MT';
}


    .about-text {
        color: #daeeee;
        font-size: 30px;
        line-height: 1.6;
    }

.tagline {
    font-size: 35px;
    color: #ffd847;
}

.my-story {
    background-color: #daeeee;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.story-content {
    color: #3c4c62;
    font-size: 26px;
    max-width: 1500px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


    .image {
        width: 400px;
        height: auto;
        border-radius: 50%;
        float: left;       
        -webkit-shape-outside: circle();
        shape-outside: circle();
        margin-right: 75px;
    }

    .story-text {

        line-height: 1.6;        
    }


.future-updates {
    background-color: #daeeee;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

    .future-updates h3 {
        color: #3c4c62;
        font-size: 100px;
        margin-bottom: 20px;
        font-family: 'Tw Cen MT';
    }

    .future-updates ul {
        list-style-type: none;
        padding: 0;
    }

    .future-updates li {
        color: #3c4c62;
        font-size: 26px;
        margin-bottom: 10px;
    }

.join-us {
    background-color: #ffd847;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

    .join-us h3 {
        color: #3c4c62;
        font-size: 100px;
        margin-bottom: 75px;
        font-family: 'Tw Cen MT';
    }

    .join-us p {
        color: #3c4c62;
        font-size: 26px;
        line-height: 1.6;
        max-width: 1000px;
    }

.contact {
    padding-bottom: 100px;
    background-color: #ffd847;
    position: relative;
    text-align: center;
}

    .contact form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact label {
        color: #3c4c62;
        font-size: 35px;
        margin-bottom: 10px;
    }

    .contact input[type="text"],
    .contact textarea {
        width: 750px;
        padding: 10px;
        margin-bottom: 20px;
        /*border: 1px solid #ccc;*/
        border: none;
        border-radius: 5px;
        color: #243139;
    }

    .contact input[type="submit"] {
        width: 150px;
        padding: 10px;
        background-color: #3c4c62;
        color: #daeeee;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .contact input[type="submit"]:hover {
            background-color: #3c4c62;
            color: #daeeee
        }
@media{

}