

.about-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.about {

    background-color: #243139;
    display: flex;   
}

.about-text-container {
    max-width: 1500px;
    margin: auto;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

    .title {
        color: #daeeee;
        font-size: 85px;
        margin-top: 50px;
        font-family: 'Tw Cen MT';
    }


    .about-text-container p {
        color: #daeeee;
        font-size: 27px;
        line-height: 1.6;
    }

.my-story {
    background-color: coral;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.story-content {

    color: #666;
    font-size: 23px;
    max-width: 1500px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


    .image {
        width: 300px;
        height: auto;
        border-radius: 50%;
        float: left;       
        -webkit-shape-outside: circle();
        shape-outside: circle();
        margin-right: 30px;
    }

    .story-text {

        line-height: 1.6;        
    }


.future-updates {
    background-color: hotpink;
    position: relative;
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .future-updates h3 {
        
        color: #3a3a3a;
        font-size: 24px;
        margin-bottom: 20px;
        font-family: 'Tw Cen MT';
    }

    .future-updates ul {
        list-style-type: none;
        padding: 0;
    }

    .future-updates li {
        color: #666;
        font-size: 16px;
        margin-bottom: 10px;
    }

.join-us {
    background-color: aquamarine;
    position: relative;
    text-align: center;
    padding-top: 50px;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

    .join-us h3 {
        color: #3a3a3a;
        font-size: 24px;
        margin-bottom: 20px;
        font-family: 'Tw Cen MT';
    }

    .join-us p {
        color: #666;
        font-size: 16px;
        line-height: 1.6;
    }

.contact {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:chartreuse;
    position: relative;
    text-align: center;
}

    .contact form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact label {
        color: #3a3a3a;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .contact input[type="text"],
    .contact textarea {
        width: 300px;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .contact input[type="submit"] {
        width: 150px;
        padding: 10px;
        background-color: #3a3a3a;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .contact input[type="submit"]:hover {
            background-color: #3a3a3a;
            color: #fff
        }
