@page "/"
@using GuitarTabBlazorSite.Data
@using GuitarTabConverter
@inject GTCData Data
 

<PageTitle>Guitar Tab Converter</PageTitle>

<h1>Welcome to Guitar Tab Converter</h1>

Search over 800,000 Guitar tabs!

<input class= "form-control" style= "max-width:600px"placeholder="Search..."
    @bind="_searchItem" />

<button class="form-control" style="max-width 300px"
    @onclick="_Clicked">Search</button>

@if (_clicked)
{
    <table class="table">       
        <tbody>
            @for (int i = 0;i<UserSearchedJson.Count;i++)
            {
                <tr>
                    <td>@UserSearchedJson[i].meta.current.artist-UserSearchedJson.meta.current.title</td>                   
                </tr>
            }
        </tbody>
    </table>                                                          
                                    
}


@code 
{
    private bool _clicked;

    private void _Clicked()
    {
        _clicked = true;
        UserSearchedJson = Data.SearchByTitle(_searchItem);
    }

    private static string _searchItem { get; set; }

    private static string _searchUrl = $"/?pattern={_searchItem}";

    private static string _userSearchedHTML = HttpGet($"https://www.songsterr.com{_searchUrl}");

    public static List<string> SongUrls = GTCData.GetSongUrls(_userSearchedHTML);

    public static List<AppJson> UserSearchedJson = GTCData.GetSearchedSongs(SongUrls);

    private static string HttpGet(string url)
    {
        //TODO just an example here
        if(UserSearchedJson.FirstOrDefault(s => s.meta.current.title == "title") != null)
        {

        }
        else
        {
            //do api fetch
            //add to the list
        }

            string content = null;
            var wc = new MyWebClient();
            content = wc.DownloadString(url);
            return content;
        }


}


