@page "/"
@using GuitarTabBlazorSite.Data
@using GuitarTabConverter
@inject GTCData Data
 

<PageTitle>Guitar Tab Converter</PageTitle>

<h1>Welcome to Guitar Tab Converter</h1>

Search over 800,000 Guitar tabs!

<input class= "form-control" style= "max-width:600px"placeholder="Search..."
    @bind="Data.searchItem" />

<button class="form-control" style="max-width 300px"
    @onclick="_Clicked">Search</button>

@if (_clicked)
{
    @*@if (Data.FilteredListJson == null)
    {
        <p><em>Loading...</em></p>
    }*@
    <table class="table">       
        <tbody>
            @for (int i = 0;i<Data.FilteredListJson.Count;i++)
            {
                <tr>
                    <td>@Data.FilteredListJson[i].meta.current.artist </td>                   
                </tr>
            }
        </tbody>
    </table> 
                                                              
                                    
}


@code 
{
    private bool _clicked;

    private void _Clicked()
    {
        _clicked = true;
        Data.userSearchedHTML = Data.GetUserSearchedHTML(Data.searchItem);
        Data.SongUrls = Data.GetSongUrls(Data.userSearchedHTML);
        Data.UserSearchedJson = Data.SearchJson(Data.searchItem, Data.UserSearchedJson, Data.SongUrls);
        Data.FilteredListJson = Data.GetFilteredListJson(Data.UserSearchedJson, Data.FilteredListJson);
    }



}


