@page "/Song"
@using GuitarTabBlazorSite.Data
@using GuitarTabConverter
@inject GTCData Data

<PageTitle>@Data.selectedTrack.title</PageTitle>
 <h3>Choose Instrument</h3>
 <div> 
     <button @onclick="IsGuitar">Guitar</button>
     <button @onclick="IsBassGuitar">Bass Guitar</button>
     <button @onclick="IsUkelele">Ukelele</button>
     <button @onclick="IsBanjo">Banjo</button>
 </div>


@code 
{
    private void IsGuitar()
    {
        Data.converted = false;
        Data.selectedInstrument = Data.InstrumentList[0];
        Data.songBeats = Data.GetSongBeats(Data.selectedSong, Data.selectedInstrument, Data.InstrumentList);
        Data.tab = new Tab(Data.selectedSong, Data.selectedInstrument, Data.songBeats, Data.songJson, Data.converted);
    }
    private void IsBassGuitar()
    {
        Data.converted = true;
        Data.selectedInstrument = Data.InstrumentList[1];
        Data.songBeats = Data.GetSongBeats(Data.selectedSong, Data.selectedInstrument, Data.InstrumentList);
        Data.tab = new Tab(Data.selectedSong, Data.selectedInstrument, Data.songBeats, Data.songJson, Data.converted);
    }
    private void IsUkelele()
    {
        Data.converted = true;
        Data.selectedInstrument = Data.InstrumentList[2];
        Data.songBeats = Data.GetSongBeats(Data.selectedSong, Data.selectedInstrument, Data.InstrumentList);
        Data.tab = new Tab(Data.selectedSong, Data.selectedInstrument, Data.songBeats, Data.songJson, Data.converted);
    }
    private void IsBanjo()
    {
        Data.converted = true;
        Data.selectedInstrument = Data.InstrumentList[3];
        Data.songBeats = Data.GetSongBeats(Data.selectedSong, Data.selectedInstrument, Data.InstrumentList);
        Data.tab = new Tab(Data.selectedSong, Data.selectedInstrument, Data.songBeats, Data.songJson, Data.converted);
    }

}
