@page "/Tab"
@using GuitarTabBlazorSite.Data
@using GuitarTabConverter
@inject GTCData Data

<PageTitle>@Data.selectedTrack.title</PageTitle>
 <h3>Choose Instrument</h3>
 <div> 
     <button>Guitar</button>
     <button>Bass Guitar</button>
     <button>Banjo</button>
     <button>Ukelele</button>
 </div>
 <div>


 </div>

@code {

}
