@inherits LayoutComponentBase
@inject GuitarTabBlazorSite.Data.GTCData Data
@inject NavigationManager Navigation

<PageTitle>GuitarTabBlazorSite</PageTitle>

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@

    <main>        
        <div class="top-row px-4 d-flex justify-content-start"> 
            <div class="nav-item px-3" style="transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;" onmouseover="this.style.transform = 'scale(1.1)';"onmouseout="this.style.transform = 'scale(1)';">
                <NavLink class="nav-link" href="#" @onclick="HandleHomeClick">
                    <span class="oi oi-home" aria-hidden="true" ></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3" style="transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;" onmouseover="this.style.transform = 'scale(1.1)';"onmouseout="this.style.transform = 'scale(1)';">
                <NavLink class="nav-link" href="About">
                <span class="oi oi-people" aria-hidden="true" ></span> About Us
                </NavLink>
            </div>
            @*<div class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </div>*@
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private void HandleHomeClick()
    {
        Data.GoBackToSearch();
        Navigation.NavigateTo("/");
    }

}
