body {
   
}

/*.logo {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

.searchbar-container {
    display: flex;
    align-items: center;
    
}

.hourglass-icon {
    height: 20px; width: 20px;
}

.searchbar {
    flex: 1;
}

.search-button {
    max-width: 200px;
}*/


