
.sub-row {
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.expanded {
    max-height: 1000px; /* Adjust the maximum height as needed */
}

input.form-control.custom-searchbar {
    outline: none;
}


