

.choose-instrument {
    text-align: center; 

}

.title {
    margin-top: 25px;
    font-size: 50px;
    font-family: 'Tw Cen MT'
}    

.choose-instrument-buttons {
    display: flex; 
    justify-content: center; 
    margin-top: 50px; 
}

    .choose-instrument-buttons button {
        margin: 0 10px;
        max-width: 200px;
        background-color: #3a3a3a;
        color: #fff;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

        

