
/*.choose-instrument-page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}*/
.choose-instrument {
    text-align: center;
/*    background-color: #ffd847;*/
    justify-content: center;
    align-content: center;
    margin: auto;
/*    padding-top: 75px;*/
    padding-bottom: 50px;
}

/*.title {
    color: #3c4c62;
    margin-top: 25px;
    font-size: 85px;
    font-family: 'Tw Cen MT'
} */   

.choose-instrument-icons {
    display: flex; 
    justify-content: center;
/*    margin-top: 50px;*/

}

.guitar {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    font-size: 30px;
    color: #3c4c62;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.bass {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    font-size: 30px;
    color: #3c4c62;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.uke {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    font-size: 30px;
    color: #3c4c62;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.banjo {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    font-size: 30px;
    color: #3c4c62;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}
/*    .choose-instrument-buttons button {
        margin: 0 10px;
        max-width: 200px;
        background-color: #3c4c62;
        color: #fff;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }*/

     

