@page "/SongPage"
@using GuitarTabBlazorSite.Data
@using GuitarTabConverter
@inject GTCData Data
@inject NavigationManager Navigation


<div class="choose-instrument">
    <div><h1 class="title">Choose Instrument</h1></div>
    <div class="choose-instrument-buttons">
        <button class="form-control" onmouseover="this.style.transform = 'scale(1.1)';"onmouseout="this.style.transform = 'scale(1)';" @onclick="Data.IsGuitar">Guitar</button>
        <button class="form-control" onmouseover="this.style.transform = 'scale(1.1)';"onmouseout="this.style.transform = 'scale(1)';" @onclick="Data.IsBassGuitar">Bass Guitar</button>
        <button class="form-control" onmouseover="this.style.transform = 'scale(1.1)';"onmouseout="this.style.transform = 'scale(1)';" @onclick="Data.IsUkelele">Ukelele</button>
        <button class="form-control" onmouseover="this.style.transform = 'scale(1.1)';"onmouseout="this.style.transform = 'scale(1)';" @onclick="Data.IsBanjo">Banjo</button>
        <button class="form-control" onmouseover="this.style.transform = 'scale(1.1)';"onmouseout="this.style.transform = 'scale(1)';" @onclick="_HandleBackToSearch">Back to Search</button>
    </div>
 </div>


 
 
 @if(Data.isGuitar)
{
    <TabComponent></TabComponent>     
}
@if(Data.isBassGuitar)
{
    <TabComponent></TabComponent>    
}
@if(Data.isUkelele)
{
    <TabComponent></TabComponent>     
}
@if(Data.isBanjo)
{
    <TabComponent></TabComponent>
}



@code 
{
    private void _HandleBackToSearch()
    {
        Data.GoBackToSearch();
        Navigation.NavigateTo("/");
    }

    
    


}
