@page "/SongPage"
@using GuitarTabBlazorSite.Data
@using GuitarTabConverter
@inject GTCData Data
@inject NavigationManager Navigation


<div class="choose-instrument">
    <div><h3>Choose Instrument</h3> </div>
    <div class="choose-instrument-buttons">
        <button class="form-control" onmouseover="this.style.transform = 'scale(1.1)';"onmouseout="this.style.transform = 'scale(1)';" @onclick="Data.IsGuitar">Guitar</button>
        <button class="form-control" onmouseover="this.style.transform = 'scale(1.1)';"onmouseout="this.style.transform = 'scale(1)';" @onclick="Data.IsBassGuitar">Bass Guitar</button>
        <button class="form-control" onmouseover="this.style.transform = 'scale(1.1)';"onmouseout="this.style.transform = 'scale(1)';" @onclick="Data.IsUkelele">Ukelele</button>
        <button class="form-control" onmouseover="this.style.transform = 'scale(1.1)';"onmouseout="this.style.transform = 'scale(1)';" @onclick="Data.IsBanjo">Banjo</button>
        <button class="form-control" onmouseover="this.style.transform = 'scale(1.1)';"onmouseout="this.style.transform = 'scale(1)';" @onclick="_GoBackToSearch">Back to Search</button>
    </div>
 </div>


 

 
 @if(Data.isGuitar)
{
    <TabComponent Tab="Data.tab" ></TabComponent>    
}
@if(Data.isBassGuitar)
{
    <TabComponent Tab="Data.tab" ></TabComponent>    
}
@if(Data.isUkelele)
{
    <TabComponent Tab="Data.tab" ></TabComponent>    
}
@if(Data.isBanjo)
{
    <TabComponent Tab="Data.tab" ></TabComponent>    
}


@code 
{
    private void _GoBackToSearch()
    {
        Data.isGuitar = true;
        Data.isBassGuitar = false;
        Data.isUkelele = false;
        Data.isBanjo = false;
        Data.converted = false;
        Data.instNum = 0;
        Data.selectedInstrument = null;
        Data.songBeats = null;
        Data.tab = null;
        Navigation.NavigateTo("/");
    }
    


}
