.tab-body{

}
.tuning {
    display: flex;


}
    .tuning > div {
        margin-right: 10px;
    }

.tablines-body{

}

.tab-row {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.measure {
    //display: flex;
}

.tabline {
    display: flex;
}

.beat {
    //display: flex;
}        


