.tab-body {
    max-width: 100%; /* Ensure the tab body doesn't exceed the width of its container */
    overflow-x: auto;
    margin-top:100px;
}
.tuning {
    display: flex;


}
    .tuning > div {
        margin-right: 10px;
    }

.tablines-body {
    display: flex; /* Use flexbox layout for the tab lines */
    flex-wrap: wrap; /* Allow tab lines to wrap to the next line if they exceed the width */
    gap: 10px;
}

.tab-row {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.measure {
    //display: flex;
    flex: 1 1 auto; /* Allow measures to grow and shrink based on available space */
    max-width: calc(25% - 10px); /* Each measure takes up 25% of the container width minus some spacing */
    min-width: 200px;
}

.tabline {
    display: flex;
}

.beat {
    //display: flex;
}

@media screen and (max-width: 768px) {
    /* Media query for smaller screens */
    .tablines-body {
        flex-direction: column; /* Stack tab lines vertically on smaller screens */
    }


