.print-button {
    float: right;
    margin-right: 50px;
}

.tab-body {
    margin: 0 auto;
    max-width: 80%;
    overflow-x: auto;
    margin-top: 100px;
    font-size: .9em;
    padding: 25px;
    border-radius: 25px;
    background-color: lightgrey;
}
.songinfo{


}

.tuning {
    display: flex;
}
    .tuning > div {
        margin-right: 10px;
    }

.tablines-body {
    /*    display: flex;
    flex-wrap: wrap;
    gap: 10px;*/
    /*display: flex;*/
   

}

.tab-row {
    display: flex;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
    background-color: white;
    border-radius: 15px;
}

    .tab-row > .measure {
               
        border-radius: 15px;
        flex: 1 1 auto;
        /*max-width: calc(25% - 10px);*/
        min-width: 200px;
    }

.tabline {
    display: flex;
}

.beat {
    /*display: flex;*/
}

@media screen and (max-width: 768px) {
    
    .tablines-body {
        flex-direction: column;      
    }

    /*.tab-body {
        transform: scale(0.75);
    }*/
    
    }
/*@media print {

    .tab-body {
        max-width: 100%;
        overflow-x: auto;*/
        /*margin-top: -500px;*/
        /*transform: scale(1);*/
        /*font-size: 1.2em;
    }

    .tuning {
        display: flex;
    }

        .tuning > div {
            margin-right: 10px;
        }

    .tablines-body {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .tab-row {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .measure {
        //display: flex;
        flex: 1 1 auto;
        max-width: calc(25% - 10px);
        min-width: 200px;
    }

    .tabline {
        display: flex;
    }

    .beat {
        //display: flex;
    }
}*/


